.git
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.log
.DS_Store
build/
dist/
logs/
*.zip
musicdown.zip
/credential.json
/config.json
/config.toml
/config_bak.json
/config_example.json
downloads/
lrc_output/
tgbot_standalone/data/
tgbot_standalone/downloads/
tgbot_standalone/credential.json
